# gcloud project configurations

## -- project settings
[dev]
export GCP_PROJECT="ardent-stacker-311204"
export GCP_STAGING_BUCKET=gs://dev-$GCP_PROJECT
export GCP_BQ_BUCKET=$GCP_STAGING_BUCKET/bq
export GCP_DS_BUCKET=$GCP_STAGING_BUCKET/ds
export GCP_TF_BUCKET=$GCP_STAGING_BUCKET/tf
export GCP_CLUSTER="..."
export GCP_REGION=us-east4
export GCP_ZONE=us-east4-b
export GOOGLE_CLOUD_PROJECT=$GCP_PROJECT
export GCLOUD_PROJECT=$GCP_PROJECT

[prod]
export GCP_PROJECT=
